*.pyc
__pycache__/
.venv/
debian/kollektiv5/usr/bin
debian/kollektiv5/usr/lib
debian/kollektiv5/*.deb
*.png
.pytest_cache/v/cache/stepwise
.pytest_cache/v/cache/nodeids
.vscode/launch.json
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
